@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(59, 57, 57);
}
input {
  border-radius: 0.375rem; /* 6px */
}
body, input, button, textarea {
  font-family: Arial, sans-serif;
}

button {
  color: #f0f0f0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
}

.custom-class-file-upload  {
  /* margin-bottom: 2rem; */
}

.custom-class-file-upload label,
.custom-class-file-upload label input {
  height: 100%;
}
