{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderSeparation": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf"
}
